
.Home{
    background-image: linear-gradient(to right, #92d9fa , #cdecfa);
    height: 3.5rem;
}

.table{    
    margin-left: 2rem;
    width: 95%;
}
.heading{
    text-align: center;
}

.inputStyle{
    width: 70%;
    margin-left: 1.2rem;
}